
    @media all  and (min-width:  414px) and (max-width: 896px)  {

        .nav-link li a {
            top:29%;
        }
        #home_rectangle{
           width: 22vw;
                
        }
        #home_rectangle li>a{
              left:-4px;
         }
   
         #social-media-icon {
             top:620px;
           }
       /* /---------------------------------------ABOUT PAGE -----------------------------------------------/ */
         
       .about-section {
            height:850px;
          }
              
         #about {
               top:210px;
               left:620px;
           }  
        #profile_pic img {
               top:300px;
               left:580px;
           }
          
           .about-section p {
               top:600px;
              width:220%;
              left:250px;
           } 
   
          .CONYACTbtn{
              top:300px;
           }
       
           .DOWNLOADDbtn{
               top:350px;
               width: 120%;
           }
   
   
   
   .skills-section{
       height: 670px;
       position: relative;
       top: 0;
   }
   
            #skills{
               left: 263%;
               top:200px;
           }
   
            #skills-flex-box{
               top:50%;
           }
       
           #skills-flex-box div{
               width: 100%;
               height:60%;
           }
   
       .view-button{
            bottom: 140px;
           left: 720px;
       }
   
   
   
   
   }