
@media all  and (min-width:  375px) and (max-width: 667px)  {
    
.top_bar {
    width: 350vw;
}


.nav-link li {
    margin: 0 40px;
}


    /*  */
    #main_page {
        position: relative;
        width: 350%;
    }

    #main_titleName  {
        left: 10%;
        top: 55vh;
        font-size: 90px;
    }

    #social-media-icon {
        position: absolute;
        left: 218px;
        letter-spacing: 10px;
    }


    /* About section */

    #about {
        left: 550px;
        top:50px;
    }
    #profile_pic img {
        left: 510px;
    }
    .about-section p {
     width:220%;
    }

    .CONYACTbtn{
        left: 450%;
        width: 100%;
    }

    .DOWNLOADDbtn{

        top:310px;
        left: 310%;
        width: 100%;
    }


    

}