* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    max-width:100vw;

}

/* 
/---------------------------MENU BAR--------------------------/ */

.top_bar {
    justify-content: space-around;
    z-index: 10;
    position: fixed;
    background-color: rgba(222, 222, 222, 1);
    width: 100vw;
}

.nav-link {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.nav-link li {
    font-family: 'Rasa', serif;
    list-style: none;
    margin: 20px 20px;
}

.nav-link li a {
    text-decoration: none;
    color: black;
    font-size: 28px;
    letter-spacing: 1px;
}


.underline {
    --color: #295803;
    text-decoration: none;
    color: var(--color);
    position: relative;
    font-size: 0;
   
  }
  .underline span {
    background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: var(--background-size, 100%) 2.5px;
    transition: background-size 0.2s linear var(--background-delay, 0.1s);
    font-size: 26px;
    line-height: 20px;
    transform: translateZ(0);
  }
  .underline svg {
    vertical-align: top;
    display:inline-flex;
    top: 5px;
    line-height: 1;
    width: 13px;
    height: 20px;
    position: relative;
    left: -2px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
    stroke: var(--line);
    stroke-dasharray: 7.95 30;
    stroke-dashoffset: var(--stroke-dashoffset, 46);
    transition: stroke-dashoffset var(--stroke-duration, 0.15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
  }
  .underline:hover {
    --line: #53b304;
    --background-size: 0%;
    --background-delay: 0s;
    --stroke-dashoffset: 26;
    --stroke-duration: 0.3s;
    --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
    --stroke-delay: 0.195s;
  }
   

#home_rectangle{
    width: 5vw;
    border: 4px solid #a9a0a9;
    height: 10vh;
    transform: rotate(47deg);
    background-color: white;
}

#home_rectangle li>a{
   position: absolute;
   transform: rotate(313deg);
   top: 17px;
   right: 0;
   bottom: 17px;
   left: 0;  
}

/* /-------------------------------INFO----------------------------/ */

#hero-section{
    position: relative;
    height: 713px;
    top: 0;
}

#main_page {
    background-image: url('../images/MainPic.jpg');
    height: 100vh;
    width: 100%;
    top: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
}

#main_titleHello {
    position: absolute;
    left: 210px;
    top: 38vh;
    font-family: 'Rosarivo', serif;
    font-size: 96px;
}

#main_titleName {
    position: absolute;
    left: 120px;
    top: 55vh;
    font-family: 'Reenie Beanie', cursive;
    font-size: 96px;
}

#social-media-icon {
    position: absolute;
    left: 212px;
    top: 75vh;
}

#social-media-icon img:nth-child(1):hover{
    cursor: pointer;
    transform: scale(1.6);
    transition: 0.5s;
    
}

#social-media-icon img{
    padding: 6px;
}
/* /---------------------------------------ABOUT PAGE -----------------------------------------------/ */
.about-section {
    position: relative;
    top: 0;
    height:650px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.about-section p {
    position:absolute;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    top: 430px;
    left:200px;
    right:200px;
    bottom:0;
    line-height :30px;
    text-align:center;
}

#about-section-button{
    margin:auto;
    position:absolute;
    left:70%;
}

.CONYACTbtn {
    position:relative;
    top:262px;
    left:24px;
    background-color: #660058;
    border: none;
    color: white;
    height: 40px;
    width: 10vw;
    padding: 13px 23px 12px 23px;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 2px;
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 1px 2px #5e5d5b;
}

.DOWNLOADDbtn img{
    position: relative;
    top:-3px;
    left: -10px;
    height: 3vh;;
}
.DOWNLOADDbtn {
    position:relative;
    height: 40px;
    top:270px;
    left:25px;
    background-color: #660058;
    border: none;
    color: white;
    padding: 13px 23px 12px 23px;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 28px;
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 1px 2px #5e5d5b;
}

.DOWNLOADDbtn span{
    position: relative;
    top: -10px;
}
.CONYACTbtn span{
    position: relative;
    top: -2px;
}

#about {
    font-family: 'Rosarivo', serif;
    position: absolute;
    text-align: center;
    top:50px;
    font-size: 30px;
    text-decoration: none;
    font-style: normal;
}

#profile_pic img {
    position: absolute;
    top: 18vh;
    border-radius: 5% 40% 40% 40%;
    display: block;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
/* 
/------------------------------SKILLS-------------------------------------------/ */

.skills-section{
    height: 700px;
    position: relative;
    top: 0;
}

.section-cover-pic{
    width: 98.7vw;
    height:20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    position: relative;
    top: 0;
    left: 0
}

.Skills-pic{
    height:40vh; 
    background-repeat: no-repeat;
    background-attachment: revert;
    background-position: right;
    position: absolute;
    top: 30px;
    box-shadow: black;
    right:190px;
}

#skills{
    position: absolute;
    width: 10%;
    height: 8%;
    text-align: center;
    right: 280px;
    top: 170px;
}
#skills h2{
    font-family: 'Rosarivo', serif;
    font-size: 50px;
    letter-spacing: 4px; 
    font-style: normal;
    position: relative;
    left: 9px;
    top: -18px;
}


/* /Skills Nav Bar/ */

#skills-flex-box{
    top: 200px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    overflow: hidden;
}

#skills-flex-box div{
    background-color: white;
    display: flex;
    height: 26vh;
    margin: 40px;
    width: 12vw;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#skills-flex-box div img{
    width: 10vw;
    height: 20vh;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* /--------------------Assignment Section----------------------------------/ */


.assignment-section{
    height: 720px;
    background-color:#EFEFEF;
    position: relative;
    top: 0;
}
.assignment-section p{
    position: relative;
    text-align: center;
}
#assignment-paragraph-topic{
    font-size: 28px;
    position: absolute;
    left: 50%;
    top: 45%;
}
#assignment-paragraph{
    position: absolute;
    font-size: 26px;
    letter-spacing: 3px;
    text-align: left;
    left: 50%;
    top: 55%;
}
  
#assigment{
    font-family: 'Rosarivo', serif;
    font-size: 30px;
    font-style: normal;
    position: absolute;
    right: -15px;
    top: 23%;
    letter-spacing: 3px;
    transform: rotate(90deg);
}

.vertical-line{
    position:absolute;
    right: 120px;
    top: 48%;
    height: 14%;
    background-color: black;
    border: 3px solid black;
}

.vertical-line div{
    position:absolute;
    top: 115%;
    height: 14%;
    right: -6px;
    border-radius: 100%;
    background-color: black;
    border: 6px solid black;
}

.assigment-cover-background{
    position: relative;
    top:10%;
    width:24%;
    height: 60%;
    background-color: #C4C4C4;
}

.assigment-cover-background div{
    position: absolute;
    top:10%;
    left: 20%;
    width:160%;
    height: 120%;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.assigment-cover-background > div > img:nth-child(1){
    
    width: 35%;
    position: absolute;
    top: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    left: 40px;
}

.assigment-cover-background > div > img:nth-child(2){
    width: 35%;
    position: absolute;
    top: 20px;
    right: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.assigment-cover-background > div > img:nth-child(3){

    width: 35%;
    position: absolute;
    bottom: 20px;
    left: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.assigment-cover-background > div > img:nth-child(4){

    width: 35%;
    position: absolute;
    bottom: 20px;
    right: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.assigment-cover-background img:hover{
   
   
}




/* #first-rectangle img:hover{
    cursor: pointer;
    transform: scale(1.2);
     transition: 0.5s;
 }
  */
.view-button{
    position: absolute;
    bottom: 140px;
    left: 605px;
    padding: 13px 23px 12px 23px;
    font-size: 16px;
    cursor: pointer;
    box-shadow:0 1px 2px #5e5d5b;
    border: none;
    background-color:#C4C4C4;
}

/* /---------------------project/ */

.project-section{
    height: 900px;
    background-color:white;
    position: relative;
    top: 0;
}
.project-section h4{
    position: relative;
    text-align: center;
    top: 80px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;

    letter-spacing: 3px;
}

#project{
    font-family: 'Rosarivo', serif;
    font-size: 28px;
    font-style: normal;
    top:100px; 
    text-align: center;
    position:relative;
}


/* -------------------------------------------- */

.project-section nav{
    position: absolute;
    width: 80%;
    right: 10%;
    top: 22%;
    bottom: 10%;
    background-color: #C4C4C4;
}

.navigation-bar1{
    position: absolute;
    right: 2%;
    top: 30px;
    height: 8%;
    width: 4%;
    background-color: black;
}
.navigation-bar1 div{
    width: 0;
    height: 0;
    position: relative;
    left: 14px;
    top: 13px;
	border-top: 10px solid transparent;
	border-left: 20px solid white;
	border-bottom: 10px solid transparent;
}
.navigation-bar2{
    position: absolute;
    right: 7%;
    top: 50px;
    height: 8%;
    width: 4%;
    background-color: black;
}
.navigation-bar2 div{
    width: 0;
	height: 0;
    position: relative;
    left: 10px;
    top: 13px;
	border-top: 10px solid transparent;
	border-right: 20px solid white;
	border-bottom:10px solid transparent;
}



/* /-----------education/ */


.education-section{
    height: 1000px;
    background-color:#EFEFEF;
    position: relative;
    top: 0;
}

#education{
    font-family: 'Rosarivo', serif;
    font-size: 28px;
    font-style: normal;
    position: relative;
    position: absolute ;
    top: 5%;
    left: 2%;
    letter-spacing: 4px;
}

.timeline-section{
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
  
	max-width: 80%;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	position: absolute;
	width: 4px;
	height: 100%;
	background-color: #DEDEDE;
	left: calc(50% - 1px);
}
.timeline-item{
  
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #660058;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 23px;
    font-weight: 1000;
	color: #2e2e2e;
	margin:6px 0 15px;
}
 .timeline-content{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: black;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 1500;
}
/* /------------------------contact-section/ */
.contact-section{
    height: 250px;
    background-color:white;
    position: relative;
    top: 0;
}

.contact-section h2{
    position: relative;
    letter-spacing: 4px;
    top:30%;
    font-family: 'Rosario', sans-serif;
    text-align: center;
}

.contact-section h4{
    position: relative;
    letter-spacing: 4px;
    top:40%;
    text-align: center;
    font-family: 'Rosario', sans-serif;
}

 /* /footer section/ */

.footer-section{
  
    height: 350px;
    background-color: #1B1B1B;
    position: relative;
    top: 0;

}
#links{
    display: flex;
    justify-content: center;
    top:18%;
    position:relative;
}
#links div{
    height: 48px;
    width: 48px; 
    border-radius:50%;
    background-color: #C4C4C4;
    margin: 15px;  
}

#links div img{
    height: 100%;
    padding: 10px;
    text-align: center;
}
.footer-section h5{
    text-align: center;
}
.first{
    position: relative;
    top: 27%;
    color: #EFEFEF;
    font-size: 14px;
    font-family: 'Rosarivo', serif;
}
.secound{
    position: relative;
    color: #EFEFEF;
    top: 32%;
    font-size: 14px;
    font-family: 'Rosarivo', serif;
    
}



#name-Thilina{
    text-align: center;
    list-style: none;
    position: relative;
    top: 10%;
}



#name-Thilina a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Reenie Beanie', cursive;
    font-size: 60px;  
    letter-spacing: 8px;
   
}


.side-line{
    position: absolute;
    width: 80%;
    height: 6px;
    top: 30%;
    left: 10%;
    background-color: #2F2C2C;
    filter: drop-shadow(0 0 0.75rem black);
}

.nav-link2{
    text-decoration: none;
    justify-content: center;
    display: flex;
   
}
.nav-link2 li{
   
    margin: 15px;
    list-style: none;
}
.nav-link2 li>a{
    font-size: 18px;
    text-decoration: none;
    color: #EFEFEF;
    position: relative;
    top: 300%;
}