* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    max-width:100vw;

}

/* 
/---------------------------MENU BAR--------------------------/ */


.nav-link {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    margin: 20px 0;
}

.nav-link li {
    font-family: 'Rasa', serif;
    list-style: none;
    margin: 20px 20px;
}

.nav-link li a {
    text-decoration: none;
    color: black;
    font-size: 28px;
    letter-spacing: 1px;
   
}


.underline {
    --color: #295803;
    text-decoration: none;
    color: var(--color);
    position: relative;
    font-size: 0;
   
  }
  .underline span {
    background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: var(--background-size, 100%) 2.5px;
    transition: background-size 0.2s linear var(--background-delay, 0.1s);
    font-size: 26px;
    line-height: 20px;
    transform: translateZ(0);
  }
  .underline svg {
    vertical-align: top;
    display:inline-flex;
    top: 5px;
    line-height: 1;
    width: 13px;
    height: 20px;
    position: relative;
    left: -2px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
    stroke: var(--line);
    stroke-dasharray: 7.95 30;
    stroke-dashoffset: var(--stroke-dashoffset, 46);
    transition: stroke-dashoffset var(--stroke-duration, 0.15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
  }
  .underline:hover {
    --line: #53b304;
    --background-size: 0%;
    --background-delay: 0s;
    --stroke-dashoffset: 26;
    --stroke-duration: 0.3s;
    --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
    --stroke-delay: 0.195s;
  }
   

/* /-------------------------------INFO----------------------------/ */

#hero-section{
    position: relative;
    height: 403px;
    top: 0;
}


/* /---------------------------------------ABOUT PAGE -----------------------------------------------/ */
.about-section {
    position: relative;
    top: 0;
    height:650px;
    display:flex;
    background-color: #EFEFEF;
    justify-content:center;
    align-items:center;
}

.about-section p {
    position:absolute;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    top: 180px;
    right: 200px;
    width: 40%;
    bottom:0;
    line-height :30px;
    text-align:left;
}

#about-section-button{
    margin:auto;
    position:absolute;
    left:70%;
}

.CONYACTbtn {
    position:relative;
    top:170px;
    left:-315px;
    background-color: #5E5E5E;
    border: none;
    color: white;
    height: 40px;
    width: 10vw;
    padding: 13px 23px 12px 23px;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 2px;
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 1px 2px #5e5d5b;
}

.DOWNLOADDbtn img{
    position: relative;
    top:-3px;
    left: -10px;
    height: 3vh;;
}
.DOWNLOADDbtn {
    position:relative;
    height: 40px;
    top:179px;
    left:-315px;
    background-color: #5E5E5E;
    border: none;
    color: white;
    padding: 13px 23px 12px 23px;
    font-size: 16px;
    cursor: pointer;
    margin: 4px 28px;
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 1px 2px #5e5d5b;
}

.DOWNLOADDbtn span{
    position: relative;
    top: -10px;
}
.CONYACTbtn span{
    position: relative;
    top: -2px;
}

#about {
    font-family: 'Rosarivo', serif;
    position: absolute;
    text-align: center;
    top:60px;
    right:340px;
    font-size: 30px;
    text-decoration: none;
    font-style: normal;
}

#profile_pic{
    position: absolute;
    background-color: #D3D3D3;
    width: 25%;
    height: 70%;
    display: block;
    left:140px;
    top: 83px;
    margin-left: auto;
    margin-right: auto;
}


#profile_pic div{
   text-align: center;
}

#profile_pic img{
    width: 97%;
    height: 60vh;
    position: relative;
    top: 40px;
    left: 50px;
}


/* 
/------------------------------SKILLS-------------------------------------------/ */

.skills-section{
    height: 450px;
    position: relative;
    top: 0;
}

#skills{
    position: absolute;
    width: 10%;
    height: 8%;
    text-align: center;
    right: 272px;
    top: 170px;
}
#skills h2{
    font-family: 'Rosarivo', serif;
    font-size: 50px;
    letter-spacing: 4px; 
    font-style: normal;
    position: relative;
    left: -1050px;
    top: -120px;
}


/* /Skills Nav Bar/ */

#skills-flex-box{
    top: 120px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    overflow: hidden;
}

#skills-flex-box div{
    background-color: white;
    display: flex;
    height: 26vh;
    margin: 40px;
    width: 12vw;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#skills-flex-box div:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
  
}
#skills-flex-box div img{
    width: 10vw;
    height: 20vh;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}





/* /---------------------project/ */

.project-section{
    height: 1000px;
    background-color:white;
    position: relative;
    top: 0;
}
.project-section h4{
    position: relative;
    text-align: center;
    top: 80px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;

    letter-spacing: 3px;
}

#topic_project{
    font-family: 'Rosarivo', serif;
    font-size: 28px;
    font-style: normal;
    top:100px; 
    text-align: center;
    position:relative;
}

.projects{
    position: relative;
    width: 65%;
    top: 130px;
    height: 70%;
    margin: auto;
}

.first-side{
    width: 45%;
    height: 90%;
    position: relative;
    top: 30px;
    left:40px;
}

.first-side div{
    width: 73%;
    height: 60%;
    margin: auto;
    border: 1px solid red;
}

.first-side div:nth-child(2){
    width: 73%;
    height: 50%;
    position: relative;
    top: 20px;
    margin: auto;
    border: 1px solid red;
}

.second-side{
    width: 45%;
    height: 90%;
    position: absolute;
    top: 40px;
    right:40px;
}

.second-side div{
    width: 83%;
    height: 20%;
    position: relative;
    top:10px;
    padding: 100px;
    margin: auto;
    border: 1px solid red;
}

.second-side div:nth-child(2){
    position: relative;
    top: 30px;
}

.second-side div:nth-child(3){
    position: relative;
    top: 50px;
}

/* /-----------education/ */


.education-section{
    height: 500px;
    background-color:#EFEFEF;
    position: relative;
    top: 0;
    border: 1px solid darkblue;
}

#education{
    font-family: 'Rosarivo', serif;
    font-size: 28px;
    font-style: normal;
    position: relative;
    position: absolute ;
    top: 5%;
    left: 2%;
    letter-spacing: 4px;
}


/* /------------------------contact-section/ */
.contact-section{
    border: 1px solid red;
    height: 250px;
    background-color:white;
    position: relative;
    top: 0;
}

.contact-section h2{
    position: relative;
    letter-spacing: 4px;
    top:30%;
    font-family: 'Rosario', sans-serif;
    text-align: center;
}

.contact-section h4{
    position: relative;
    letter-spacing: 4px;
    top:40%;
    text-align: center;
    font-family: 'Rosario', sans-serif;
}

 /* /footer section/ */

.footer-section{
    height: 100px;
    background-color: #D7D7D7;
    position: relative;  
}

.footer-section h5 {
  
}










